:root {
  --background-color: #008080;
  --primary-color: #fffafa;
  --text-color: #2b2b2b;
  --white: white;
  --heading__font-weight: 1300;
  
}

* {
  box-sizing: border-box;
}

  body {
    background-color: var(--background-color);
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.6; 
  }

  h1 {
    font-size: 30px;
    font-weight: var(--heading__font-weight);
  }
  
  h2 {
    font-size: 24px;
    font-weight: var(--heading__font-weight);
  }
  
  h3 {
    font-size: 18px;
    font-weight: var(--heading__font-weight);
  }

  .intro {
    margin-top:30px;
  }
  
  nav.navbar {
    box-shadow: 1px 1px 1px 1px lightslategrey;
    background-color: white;
  }
  
  .pokemon-button {
    background-color: #f8f9fa;
    border: none;
    color: black;
    display: inline-flex;
    flex-direction: column;
    margin: 4px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    width: 50%;
  }
  
  .pokemon-button:hover {
    background-color:darkblue;
    color: white;
    cursor: pointer;
  }
  
  .modal-image {
    width: 50%;
  }